:root{
    --TranslucentDarkBlue:#002ab659;
    --MainBlue:#004a8b;
    --BrightBlue:#1378bb ;
    --DarkGray:#333 ;
    --BlueGray:#3d576d ;
    --LightBlue:#66c2ff ;
    --DarkRed:#c70000 ;
    --TranslucentWhite2:#ffffff50 ;
    --TranslucentWhite1:#ffffffaa ;
    --TranslucentBlack2:#00000080 ;

    --TranslucentBlack1: #0000001a;
    --BrighterBlue: #0099ff;
    --TranslucentBlueBlack: #201f7233;
    --GrayBlue: #a0b3c0;
    --WhiteBlue: #ddeaee;
}
