@import url("root.css");

.signBody{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #e0e0e0;
    background-color: #121212;

    background-image: url('/public/images/bookArt.png');
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    /* transition: 0.3s ease-in-out; */

    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.signBox{
    background: #292421;
    padding: 20px;
    max-width: 450px;
    width: 100%;
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
    border-radius: 8px;
}

.signBox text{
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

.signBox label{
    padding-left: 3px;
    height: auto;
}

.signTextArea{
    background-color: #3a342f;
    color: e0e0e0;
    width: 98%;
    height: 40px;
    outline: none;
    border-radius: 8px;
    border: 1px solid gray;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0 7px;
}

.signTextArea::placeholder{
    color: #ffffff80;
}

.signTextArea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #3a342f inset;
    -webkit-text-fill-color: e0e0e0 !important;
}

.signButton{
    background-color: #7f633b;
    color: aliceblue;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    /* margin-left: 7%; */
}

.signButton:hover{
    transition: 0.2s;
    background-color: #a07841;
    /* margin-left: 7%; */
}

.signLink{
    color: #f0d9ba;
    font-size: small;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.signLink:hover{
    color: #f0d9ba;
    transition: 0.2s;
}
