<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Item Recognition</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <div class="container">
    <h2>Item Recognition</h2>

    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Predict">
    </form>

    {% if prediction %}
    <div class="result">
      <h3>Prediction Result</h3>
      <p><strong>{{ prediction.split("Color:")[0] }}</strong></p>

      {% if image_url %}
        <div class="uploaded-image">
          <h4>Uploaded Image:</h4>
          <img src="{{ image_url }}" alt="Uploaded Image">
        </div>
      {% endif %}

      {% if "Color:" in prediction %}
        <div class="color-section">
          <h4>Detected Color:</h4>
          <span>{{ prediction.split('Color:')[1].strip() }}</span>
          <span class="color-box" style="background-color: {{ prediction.split('Color:')[1].strip().lower() }}"></span>
        </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</body>
</html>
