<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lost Items</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='grid.css') }}">
  
</head>
<body>
    <div class="container">
        <h1>List of Reported Items</h1>

        {% if items %}
        <div class="grid">
            {% for id, item in items.items() %}
            <a href="{{ url_for('item_detail', item_id=id) }}" class="grid-item">
                <img src="{{ url_for('uploaded_file', filename=item.ImageName) }}" alt="{{ item.ItemType }} Image">
                <div class="item-details">
                    <h4>{{ item.ItemType }} - {{ item.Color }}</h4>
                    <p>Found: {{ item.DateTime }}</p>
                    
                    {% if item.Description %}
                    <p class="item-description">{{ item.Description | truncate(60, true) }}</p>
                    {% else %}
                    <p class="item-description">Click for full details.</p>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <p>No items found yet.</p>
        {% endif %}

        <a href="{{ url_for('home') }}" class="btn">⬅ Back to Home</a>
    </div>
</body>
</html>
